<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
   
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
     <i class="fa-solid fa-bars"> Logo</i>
  </div>

  <a class="navbar-brand px-4" href="#">Dashboard</a>

  <div class="navbar-collapse">
     <ul class="navbar-nav me-auto">

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
               Your Cources
           </a>
           <ul class="dropdown-menu dropdown-dark">
              <li><a class="dropdown-item" href="#">Grammer<i class="fa-solid fa-arrow-right"></i></a></li>
              <li><a class="dropdown-item" href="#">Phrasal Verbs <i class="fa-solid fa-arrow-right"></i></a></li>
              <li><a class="dropdown-item" href="#">Vocabulary <i class="fa-solid fa-arrow-right"></i></a></li>
           </ul>
         </li>
     </ul>
  </div>

  <div class="profile-logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
        Anna
    </button>
    <ul class="dropdown-menu dropdown-dark">
        <li><a class="dropdown-item" href="#">Log in</a></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
     </ul>
  </div>
</nav>
