nav{
 height: 100%;
}

.side-nav-button{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.5rem;
    cursor: pointer;
}
/* .side-nav-button:hover{
    background-color:rgb(114, 114, 112);
    border-radius: 30%;
} */